In [1]:
import pandas as pd
import csv

Let's view the first few columns of each dataframe to see what we are working with

In [2]:
gas_types = pd.read_csv('us_greenhouse_gas_emission_direct_emitter_gas_type.csv')
# RENAME ALL COLUMNS SO IT'S NOT SUCH AN EYESORE
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.ADDRESS1': 'Address Line 1'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.ADDRESS2': 'Address Line 2'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.CITY': 'City'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.CO2E_EMISSION': 'CO2 Emission'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.COUNTY': 'County'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.FACILITY_ID': 'Facility ID'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.GAS_CODE': 'Gas Code'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.GAS_NAME': 'Gas Name'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.LATITUDE': 'Latitude'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.LONGITUDE': 'Longitude'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.STATE': 'State'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.STATE_NAME': 'State Name'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.YEAR': 'Year'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.ZIP': 'Zip Code'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.FACILITY_NAME': 'Facility Name'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.COUNTY_FIPS': 'FIPS'})
# MAKE STRINGS UPPERCASE SO SEARCHING IS EASIER IN THE FUTURE
gas_types['City'] = gas_types['City'].str.upper()
gas_types['County'] = gas_types['County'].str.upper()
gas_types['Gas Code'] = gas_types['Gas Code'].str.upper()
gas_types['Gas Name'] = gas_types['Gas Name'].str.upper()
gas_types['Facility Name'] = gas_types['Facility Name'].str.upper()
# REMOVE 'COUNTY' FROM ENTRIES IN THE 'COUNTY' COLUMN TO MATCH COUNTY NAMES IN THE AIR QUALITY DATAFRAME
gas_types['County'] = gas_types['County'].str.split(' ').str[0]
# DROPPED COLUMNS WITH NO DATA
gas_types = gas_types.dropna(subset =['Address Line 1'] )
# DROPPED COLUMNS WITH MANY MISSING VALUES OR DATA THAT IS NOT IDENTIFYING
gas_types = gas_types.drop(columns = ['State', 'Address Line 2', 'FIPS'])

gas_types #.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name
0,1919 S. BROADWAY,GREEN BAY,58024.000,BROWN,1000589,BIOCO2,BIOGENIC CO2,44.492500,-88.032300,WISCONSIN,2017,54304,GEORGIA-PACIFIC CONSUMER OPERATIONS LLC
1,850 12TH AVE,NEW YORK,134.500,NEW,1000766,CH4,METHANE,40.771100,-73.991100,NEW YORK,2018,10019,59TH STREET
2,3379 HWY 482,NOBLE,6.854,SABINE,1009343,N2O,NITROUS OXIDE,31.621528,-93.724774,LOUISIANA,2012,71462,BAKER ROAD TREATER
3,1012 BEAUCHAMP ST,GREENVILLE,53562.000,WASHINGTON,1003557,CH4,METHANE,33.392476,-91.017584,MISSISSIPPI,2017,38701,TEXAS GAS TRANSMISSION - GREENVILLE STATION
4,487 CORN CREEK ROAD,BEDFORD,7635064.700,TRIMBLE,1006542,CO2,CARBON DIOXIDE,38.584700,-85.411700,KENTUCKY,2018,40006,TRIMBLE COUNTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219922,14353 McFarland Road,BURLINGTON,301493.000,SKAGIT,1010898,BIOCO2,BIOGENIC CO2,48.448041,-122.433615,WASHINGTON,2016,98273,SIERRA PACIFIC INDUSTRIES - BURLINGTON
219923,14353 McFarland Road,BURLINGTON,1929.800,SKAGIT,1010898,CO2,CARBON DIOXIDE,48.448041,-122.433615,WASHINGTON,2016,98273,SIERRA PACIFIC INDUSTRIES - BURLINGTON
219924,7628 Thorndike Road,GREENSBORO,2776.500,GUILFORD,1010033,CO2,CARBON DIOXIDE,36.075650,-79.965030,NORTH CAROLINA,2018,27409,QORVO
219926,1186 Calkins Rd,TROY,23.840,BRADFORD,1010571,N2O,NITROUS OXIDE,41.730488,-76.707873,PENNSYLVANIA,2012,16947,GRANVILLE COMPRESSOR STATION
219927,1186 Calkins Rd,TROY,23.000,BRADFORD,1010571,CH4,METHANE,41.730488,-76.707873,PENNSYLVANIA,2013,16947,GRANVILLE COMPRESSOR STATION

The gas_type dataframe contains data about the location of emitter facilities and gas types emitted from each one. There are ~220,000 entries.

In [3]:
air_quality = pd.read_csv('us_air_quality_measures.csv')
# MAKE STATE AND COUNTY NAMES UPPERCASE
air_quality['StateName'] = air_quality['StateName'].str.upper()
air_quality['CountyName'] = air_quality['CountyName'].str.upper()
# DROP COLUMNS WHERE THE 'Value' COLUMN IS 0.000000
#air_quality = air_quality[air_quality['Value'] != 0.000000]
air_quality.head()

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1027,CLAY,1999,33.0,No Units,No Units,Monitor Only,1
1,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1051,ELMORE,1999,5.0,No Units,No Units,Monitor Only,1
2,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1073,JEFFERSON,1999,39.0,No Units,No Units,Monitor Only,1
3,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1079,LAWRENCE,1999,28.0,No Units,No Units,Monitor Only,1
4,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1089,MADISON,1999,31.0,No Units,No Units,Monitor Only,1

The air_quality dataframe contains air quality measures across different states/counties in the United States. It contains over 218,000 entries.

In [4]:
facilities = pd.read_csv('us_greenhouse_gas_emissions_direct_emitter_facilities.csv')
# RENAME ALL COLUMNS SO IT'S NOT SUCH AN EYESORE
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ADDRESS1': 'Address Line 1'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ADDRESS2': 'Address Line 2'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.CEMS_USED': 'CEMS Used'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.CITY': 'City'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.COUNTY': 'County'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.COUNTY_FIPS': 'FIPS'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.FACILITY_ID': 'Facilities ID'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.LATITUDE': 'Latitude'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.LONGITUDE': 'Longitude'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE': 'NAICS Code'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.STATE': 'State'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.STATE_NAME': 'State Name'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.YEAR': 'Year'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ZIP': 'Zip Code'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.FACILITY_NAME': 'Facility Name'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.SECONDARY_NAICS_CODE': 'Secondary NAICS Code'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ADDITIONAL_NAICS_CODES': 'Additional NAICS Codes'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND': 'Cogeneration Unit Emission Index(?)'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.EPA_VERIFIED': 'EPA Verified'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.PARENT_COMPANY': 'Parent Company'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR': 'Plant Code Indicator'})
# MAKE ADDRESSES ALL UPPERCASE, THEN DROP ROWS WITH NO ADDRESS
facilities['Address Line 1'] = facilities['Address Line 1'].str.upper()
facilities = facilities.dropna(subset =['Address Line 1'] )
#facilities.head()

#add2_nan =facilities['Address Line 2'].isna().sum()
#add2_nan

/tmp/ipykernel_554715/1221196783.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  facilities = pd.read_csv('us_greenhouse_gas_emissions_direct_emitter_facilities.csv')

The facilities dataframe contains data about each facility, namely address, location, and IDs (FIPS, NAICS). There are ~77,000 rows.

# Question 1
## How does air quality relate to the number of emitting facilities and and level of emissions in the area?
We can answer this question using the air_quality and gas_types dataframes. We can group facilities by county. Just for a trial run, let's pick a county that's in both dataframes

In [6]:
# air_quality rows where Weston is the county
weston_aq = air_quality[(air_quality['CountyName'] == 'WASHINGTON')  & (air_quality['ReportYear'] == 2011)]
weston_aq.head()

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
16356,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,5,ARKANSAS,5143,WASHINGTON,2011,4.0,No Units,No Units,Monitor Only,1
16588,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,21,KENTUCKY,21229,WASHINGTON,2011,0.0,No Units,No Units,Monitor Only,1
16617,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,23,MAINE,23029,WASHINGTON,2011,0.0,No Units,No Units,Monitor Only,1
16633,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,24,MARYLAND,24043,WASHINGTON,2011,3.0,No Units,No Units,Monitor Only,1
16682,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,27,MINNESOTA,27163,WASHINGTON,2011,1.0,No Units,No Units,Monitor Only,1

In [83]:
gas_types.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name
0,1919 S. BROADWAY,GREEN BAY,58024.000,BROWN,1000589,BIOCO2,BIOGENIC CO2,44.492500,-88.032300,WISCONSIN,2017,54304,GEORGIA-PACIFIC CONSUMER OPERATIONS LLC
1,850 12TH AVE,NEW YORK,134.500,NEW,1000766,CH4,METHANE,40.771100,-73.991100,NEW YORK,2018,10019,59TH STREET
2,3379 HWY 482,NOBLE,6.854,SABINE,1009343,N2O,NITROUS OXIDE,31.621528,-93.724774,LOUISIANA,2012,71462,BAKER ROAD TREATER
3,1012 BEAUCHAMP ST,GREENVILLE,53562.000,WASHINGTON,1003557,CH4,METHANE,33.392476,-91.017584,MISSISSIPPI,2017,38701,TEXAS GAS TRANSMISSION - GREENVILLE STATION
4,487 CORN CREEK ROAD,BEDFORD,7635064.700,TRIMBLE,1006542,CO2,CARBON DIOXIDE,38.584700,-85.411700,KENTUCKY,2018,40006,TRIMBLE COUNTY

In [7]:
# gas_types rows where Weston is county
weston_gas_2013 = gas_types[(gas_types['County'] == 'WESTON') & (gas_types['Year'] == 2011)]
weston_gas_2013

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name
39808,740 W. MAIN ST.,NEWCASTLE,143062.700,WESTON,1004459,CO2,CARBON DIOXIDE,43.851260,-104.214860,WYOMING,2011,82701,WYOMING REFINING COMPANY
67333,740 W. MAIN ST.,NEWCASTLE,86.420,WESTON,1004459,N2O,NITROUS OXIDE,43.851260,-104.214860,WYOMING,2011,82701,WYOMING REFINING COMPANY
114375,923 Grieves Road,NEWCASTLE,1520.500,WESTON,1006599,CH4,METHANE,43.637510,-104.540320,WYOMING,2011,82701,NEWCASTLE GAS PLANT
114376,923 Grieves Road,NEWCASTLE,3.278,WESTON,1006599,N2O,NITROUS OXIDE,43.637510,-104.540320,WYOMING,2011,82701,NEWCASTLE GAS PLANT
135833,3363 HIGHWAY 16,OSAGE,0.000,WESTON,1000576,CO2,CARBON DIOXIDE,43.969615,-104.411667,WYOMING,2011,82723,BLACK HILLS POWER AND LIGHT COMPANY
136151,740 W. MAIN ST.,NEWCASTLE,406.000,WESTON,1004459,CH4,METHANE,43.851260,-104.214860,WYOMING,2011,82701,WYOMING REFINING COMPANY
210003,923 Grieves Road,NEWCASTLE,5810.600,WESTON,1006599,CO2,CARBON DIOXIDE,43.637510,-104.540320,WYOMING,2011,82701,NEWCASTLE GAS PLANT

In [8]:
air_quality['CountyName'].value_counts()

CountyName
WASHINGTON               2221
JEFFERSON                1999
JACKSON                  1683
FRANKLIN                 1593
MADISON                  1510
                         ...
YUKON-KOYUKUK              24
DENALI                     16
HAWAII                      8
KETCHIKAN GATEWAY           6
SKAGWAY-HOONAH-ANGOON       1
Name: count, Length: 1816, dtype: int64

In [27]:
air_quality["StateName"].value_counts()

StateName
TEXAS                   15651
GEORGIA                 10213
VIRGINIA                 8739
KENTUCKY                 8218
NORTH CAROLINA           7812
MISSOURI                 7117
ILLINOIS                 7087
OHIO                     6765
INDIANA                  6727
TENNESSEE                6431
IOWA                     6380
CALIFORNIA               6293
KANSAS                   6257
MICHIGAN                 6047
PENNSYLVANIA             5557
WISCONSIN                5552
MINNESOTA                5521
NEBRASKA                 5508
FLORIDA                  5452
MISSISSIPPI              5377
OKLAHOMA                 5209
NEW YORK                 5051
ARKANSAS                 4882
ALABAMA                  4855
LOUISIANA                4690
COLORADO                 4483
SOUTH DAKOTA             4005
WEST VIRGINIA            3842
SOUTH CAROLINA           3581
MONTANA                  3555
NORTH DAKOTA             3354
IDAHO                    2906
WASHINGTON               2825
OREGON                   2711
NEW MEXICO               2370
UTAH                     2170
NEW JERSEY               2096
MARYLAND                 2029
WYOMING                  1721
MAINE                    1489
MASSACHUSETTS            1443
ARIZONA                  1402
NEVADA                   1165
NEW HAMPSHIRE             999
VERMONT                   987
CONNECTICUT               832
RHODE ISLAND              431
DELAWARE                  390
ALASKA                    217
DISTRICT OF COLUMBIA      130
HAWAII                    111
Name: count, dtype: int64

In [15]:
gas_types['Year'].value_counts()

Year
2014    21381
2015    21078
2013    21017
2012    20804
2018    20751
2016    20741
2019    20613
2017    20457
2011    20226
2010    16533
Name: count, dtype: int64

In [16]:
air_quality['ReportYear'].value_counts()

ReportYear
2003    18891
2002    18890
2004    18854
2005    18817
2001    18812
2009    18744
2008    18735
2010    18720
2006    18713
2007    18709
2011    18681
2000     3194
2012     3077
2013     3066
1999     2732
Name: count, dtype: int64

In [10]:
gas_types_texas= gas_types[gas_types["State Name"]=="TEXAS"]
air_quality_texas= air_quality[air_quality["StateName"]=="TEXAS"]

In [11]:
air_quality_texas=air_quality_texas[air_quality_texas["MeasureType"]=="Average"]
air_quality_texas= air_quality_texas[air_quality_texas["ReportYear"]==2011]


gas_types_texas= gas_types[gas_types["Year"]==2011]

In [5]:
gas_types_2011 = gas_types[gas_types["Year"]==2011]
air_quality_2011 = air_quality[air_quality["ReportYear"]==2011]

In [12]:
air_quality_2011

(264, 14)

In [44]:
gas_types_texas.value_counts()

'Address Line 1' 'City'

Address Line 1            City       CO2 Emission  County     Facility ID  Gas Code  Gas Name             Latitude   Longitude    State Name    Year  Zip Code  Facility Name
 5411 NE Hwy 99           VANCOUVER  3.899940e+04  CLARK      1005611      SF6       SULFUR HEXAFLUORIDE  45.662500  -122.661111  WASHINGTON    2011  98663     BONNEVILLE POWER ADMINISTRATION - TRANSMISSION    1
4615 ARDINE STREET        CUDAHY     3.000000e+00  LOS        1007556      CO2       CARBON DIOXIDE       33.957200  -118.186390  CALIFORNIA    2011  90201     DAY-GLO COLOR CORPORATION                         1
46269 SD HWY 34           WENTWORTH  4.112400e+01  LAKE       1002585      N2O       NITROUS OXIDE        43.976389  -96.953330   SOUTH DAKOTA  2011  57075     DAKOTA ETHANOL  LLC                               1
                                     3.450000e+01  LAKE       1002585      CH4       METHANE              43.976389  -96.953330   SOUTH DAKOTA  2011  57075     DAKOTA ETHANOL  LLC                               1
462 US HIGHWAY 56         MCPHERSON  3.409230e+04  MCPHERSON  1006338      CO2       CARBON DIOXIDE       38.379900  -97.839050   KANSAS        2011  67460     OHL NGLP ISOMERIZATION PLANT                      1
                                                                                                                                                                                                                 ..
2000 Post Oak  Suite 100  HOUSTON    4.079970e+04  HARRIS     1008224      CO2       CARBON DIOXIDE       29.745920  -95.559620   TEXAS         2011  77056     APACHE CORP. GC ONSHORE - GULF COAST BASIN 220    1
                                     3.456800e+01  HARRIS     1008224      N2O       NITROUS OXIDE        29.745920  -95.559620   TEXAS         2011  77056     APACHE CORP. GC ONSHORE - GULF COAST BASIN 220    1
2000 POWER PLANT ROAD     ESCANABA   1.218829e+05  DELTA      1002697      CO2       CARBON DIOXIDE       45.771890  -87.064870   MICHIGAN      2011  49829     ESCANABA POWER PLANT                              1
                                     6.258000e+02  DELTA      1002697      N2O       NITROUS OXIDE        45.771890  -87.064870   MICHIGAN      2011  49829     ESCANABA POWER PLANT                              1
YU JONES RD               THOMPSONS  1.759609e+07  FORT       1006868      CO2       CARBON DIOXIDE       29.478300  -95.635800   TEXAS         2011  77469     W A PARISH                                        1
Name: count, Length: 20050, dtype: int64

In [6]:
pivot_df = gas_types_2011.pivot_table(
    index='County',      # Rows (index) will be 'county'
    columns='Gas Code',  # Columns will be the unique values from 'gas_type'
    values='CO2 Emission',  # Values in the cells will be the 'emissions'
    aggfunc='sum'        # Aggregate function to combine emissions, sum in this case
)

In [7]:
pivot_df.head()

Gas Code,BIOCO2,CH4,CO2,HFC,HFE,N2O,NF3,OTHER,OTHER_FULL,PFC,SF6,VERY_SHORT
County,,,,,,,,,,,,
ACADIA,NaN,64528.9750,1.507179e+06,NaN,NaN,833.804,NaN,NaN,NaN,NaN,NaN,NaN
ACCOMACK,NaN,159248.0000,9.140520e+04,NaN,NaN,214.560,NaN,NaN,NaN,NaN,NaN,NaN
ADA,NaN,28879.7500,3.627700e+04,750.498,162.8066,20.860,7275.6,NaN,17558.0,5664.743,44724.48,NaN
ADAMS,NaN,316171.2284,2.633173e+07,NaN,NaN,119963.476,NaN,NaN,NaN,NaN,85397.40,NaN
ADDISON,NaN,NaN,2.593690e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
import geopandas as gpd

coastline = gpd.read_file('ne_10m_coastline/ne_10m_coastline.shp')

In [16]:
coastline.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [22]:
gdf= gpd.GeoDataFrame(gas_types_2011, geometry=gpd.points_from_xy(gas_types_2011.Longitude, gas_types_2011.Latitude))

In [20]:
coastline=coastline.to_crs("EPSG:5070")
coastline.crs

<Projected CRS: EPSG:5070>
Name: NAD83 / Conus Albers
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: United States (USA) - CONUS onshore - Alabama; Arizona; Arkansas; California; Colorado; Connecticut; Delaware; Florida; Georgia; Idaho; Illinois; Indiana; Iowa; Kansas; Kentucky; Louisiana; Maine; Maryland; Massachusetts; Michigan; Minnesota; Mississippi; Missouri; Montana; Nebraska; Nevada; New Hampshire; New Jersey; New Mexico; New York; North Carolina; North Dakota; Ohio; Oklahoma; Oregon; Pennsylvania; Rhode Island; South Carolina; South Dakota; Tennessee; Texas; Utah; Vermont; Virginia; Washington; West Virginia; Wisconsin; Wyoming.
- bounds: (-124.79, 24.41, -66.91, 49.38)
Coordinate Operation:
- name: Conus Albers
- method: Albers Equal Area
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [23]:
from shapely.ops import nearest_points

def distance_to_coast(point, coastlines):
    nearest_coast = nearest_points(point, coastlines.unary_union)[1]
    return point.distance(nearest_coast)

# Ensure both dataframes use the same CRS
gdf = gdf.set_crs(coastline.crs)

gdf['distance_to_coast'] = gdf.geometry.apply(lambda x: distance_to_coast(x, coastline))

In [24]:
gdf.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,distance_to_coast
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (-87.94370 41.39370),10.656353
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (-90.91768 29.62879),0.302122
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-104.79822 40.23204),12.260566
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-104.98979 39.74770),11.775745
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-117.73880 35.60290),1.759142

In [22]:
import geopandas as gpd

coastline = gpd.read_file('ne_10m_coastline/ne_10m_coastline.shp')
gdf= gpd.GeoDataFrame(gas_types_2011, geometry=gpd.points_from_xy(gas_types_2011.Longitude, gas_types_2011.Latitude))
gdf = gdf.set_crs(coastline.crs)
gdf= gdf.to_crs("EPSG:5070")

coastline= coastline.to_crs("EPSG:5070")

In [21]:
from shapely.ops import nearest_points

def distance_to_coast(point, coastlines):
    nearest_coast = nearest_points(point, coastlines.unary_union)[1]
    return point.distance(nearest_coast)

In [25]:
gdf['distance_to_coast'] = gdf.geometry.apply(lambda x: distance_to_coast(x, coastline))

In [26]:
gdf.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,distance_to_coast
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),9.557503e+05
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),2.935047e+04
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),1.252961e+06
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),1.201004e+06
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),1.895937e+05

In [114]:
gdf.to_csv('distance_from_coast.csv', index= False )

In [65]:
cities=pd.read_excel("uscities.xlsx", sheet_name='Sheet1', engine='openpyxl')
cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11226.2,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3202.3,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4648.7,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494
3,Miami,Miami,FL,Florida,12086,Miami-Dade,25.7840,-80.2101,6080145,4728.2,shape,False,True,America/New_York,1,33128 33129 33125 33126 33127 33149 33144 3314...,1840015149
4,Houston,Houston,TX,Texas,48201,Harris,29.7860,-95.3885,5970127,1382.2,shape,False,True,America/Chicago,1,77069 77068 77061 77060 77063 77062 77065 7706...,1840020925

In [66]:
cities.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'lat', 'lng', 'population', 'density', 'source',
       'military', 'incorporated', 'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [67]:
cities['population'] = cities['population'].astype(int)
major_cities= cities[cities['population']>= 1000000]
major_cities.size

833

In [68]:
gdf2= gpd.GeoDataFrame(gas_types_2011, geometry=gpd.points_from_xy(gas_types_2011.Longitude, gas_types_2011.Latitude))
gdf2 = gdf2.set_crs("EPSG:4326")
gdf2= gdf2.to_crs("EPSG:5070")

gcities = gpd.GeoDataFrame(major_cities, geometry=gpd.points_from_xy(major_cities.lng, major_cities.lat))
gcities=gcities.set_crs("EPSG:4326")
gcities=gcities.to_crs("EPSG:5070")

In [69]:
def distance_to_nearest_major_city(point, major_cities):
    # Find the nearest major city to the given point
    nearest_city = nearest_points(point, major_cities.unary_union)[1]
    # Calculate the distance to the nearest major city
    return point.distance(nearest_city)

In [105]:
gcities['city']= gcities['city'].str.upper()

In [75]:
gdf2['is_major_city'] = gdf2['City'].apply(lambda x: 'yes' if x in gcities['city'].values else 'no')

In [76]:
gdf2['distance_to_nearest_major_city'] = gdf2.geometry.apply(lambda x: distance_to_coast(x, gcities))

In [77]:
gdf2.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,is_major_city,distance_to_nearest_major_city
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),yes,54027.245635
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),no,432748.278305
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),no,53074.458497
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),yes,9810.448711
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),no,177220.309367

In [78]:
gdf2.loc[gdf2['is_major_city'] == 'yes', 'distance_to_nearest_major_city'] = 0

In [79]:
gdf2.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,is_major_city,distance_to_nearest_major_city
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),yes,0.000000
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),no,432748.278305
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),no,53074.458497
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),yes,0.000000
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),no,177220.309367

In [112]:
gdf2.to_csv('is_major_city.csv', index = False)

In [81]:
gdf.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,distance_to_coast
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),9.557503e+05
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),2.935047e+04
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),1.252961e+06
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),1.201004e+06
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),1.895937e+05

In [82]:
gdf2.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,is_major_city,distance_to_nearest_major_city
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),yes,0.000000
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),no,432748.278305
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),no,53074.458497
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),yes,0.000000
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),no,177220.309367

In [86]:
combined_gdf = gdf.merge(gdf2, left_index=True, right_index=True, how='outer')

In [87]:
combined_gdf.head()

,Address Line 1_x,City_x,CO2 Emission_x,County_x,Facility ID_x,Gas Code_x,Gas Name_x,Latitude_x,Longitude_x,State Name_x,...,Gas Name_y,Latitude_y,Longitude_y,State Name_y,Year_y,Zip Code_y,Facility Name_y,geometry_y,is_major_city,distance_to_nearest_major_city
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,...,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),yes,0.000000
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,...,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),no,432748.278305
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,...,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),no,53074.458497
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,...,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),yes,0.000000
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,...,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),no,177220.309367

In [89]:
combined_gdf = gdf.merge(gdf2, left_index=True, right_index=True, how='outer', suffixes=('', '_y'))
combined_gdf = combined_gdf.drop([col for col in combined_gdf if col.endswith('_y')], axis=1)

In [90]:
combined_gdf.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,distance_to_coast,is_major_city,distance_to_nearest_major_city
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),9.557503e+05,yes,0.000000
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),2.935047e+04,no,432748.278305
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),1.252961e+06,no,53074.458497
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),1.201004e+06,yes,0.000000
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),1.895937e+05,no,177220.309367

In [93]:
pivot_df = combined_gdf.pivot_table(
    index='Facility ID',      # Rows (index) will be 'county'
    columns='Gas Code',  # Columns will be the unique values from 'gas_type'
    values='CO2 Emission',  # Values in the cells will be the 'emissions'
    aggfunc='sum'        # Aggregate function to combine emissions, sum in this case
)

In [94]:
pivot_df.head()

Gas Code,BIOCO2,CH4,CO2,HFC,HFE,N2O,NF3,OTHER,OTHER_FULL,PFC,SF6,VERY_SHORT
Facility ID,,,,,,,,,,,,
1000001,NaN,17.00,35840.9,NaN,NaN,20.264,NaN,NaN,NaN,NaN,NaN,NaN
1000002,NaN,37.50,109781.4,NaN,NaN,44.700,NaN,NaN,NaN,NaN,NaN,NaN
1000003,NaN,26.50,77140.5,NaN,NaN,32.184,NaN,NaN,NaN,NaN,NaN,NaN
1000004,NaN,17.25,52456.8,NaN,NaN,20.562,NaN,NaN,NaN,NaN,NaN,NaN
1000005,NaN,28.50,75907.0,NaN,NaN,33.972,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
pivot_df = combined_gdf.pivot_table(
    index='Facility ID',      # Rows (index) will be 'county'
    columns='Gas Code',  # Columns will be the unique values from 'gas_type'
    values='CO2 Emission',  # Values in the cells will be the 'emissions'
    aggfunc='sum'        # Aggregate function to combine emissions, sum in this case
)

In [115]:
combined_gdf.head()

,Address Line 1,City,CO2 Emission,County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name,geometry,distance_to_coast,is_major_city,distance_to_nearest_major_city
10,27155 SOUTH KANKAKEE Street,MANHATTAN,12.516,WILL,1001369,N2O,NITROUS OXIDE,41.393700,-87.943700,ILLINOIS,2011,60442,LINCOLN GENERATING FACILITY,POINT (667712.576 2071386.664),9.557503e+05,yes,0.000000
16,449 Shell E&P Court,GIBSON,382855.300,TERREBONNE,1005071,CO2,CARBON DIOXIDE,29.628790,-90.917680,LOUISIANA,2011,70358,NORTH TERREBONNE GAS PLANT,POINT (491815.612 741352.484),2.935047e+04,no,432748.278305
19,13675 WELD COUNTY ROAD 34,PLATTEVILLE,29.204,WELD,1005678,N2O,NITROUS OXIDE,40.232045,-104.798221,COLORADO,2011,80651,PLATTEVILLE GAS PLANT,POINT (-741061.988 1947304.348),1.252961e+06,no,53074.458497
35,1801 California Street Suite 2500,DENVER,191015.750,DENVER,1009714,CH4,METHANE,39.747704,-104.989786,COLORADO,2011,80202,FEPC 220 GULF COAST BASIN,POINT (-762275.599 1894788.124),1.201004e+06,yes,0.000000
44,3301 BOWMAN ROAD,RIDGECREST,3621.250,KERN,1002897,CH4,METHANE,35.602900,-117.738800,CALIFORNIA,2011,93555,RIDGECREST-INYOKERN SANITARY LANDFILL,POINT (-1935318.091 1616597.779),1.895937e+05,no,177220.309367

In [97]:
pivot_df

Gas Code,BIOCO2,CH4,CO2,HFC,HFE,N2O,NF3,OTHER,OTHER_FULL,PFC,SF6,VERY_SHORT
Facility ID,,,,,,,,,,,,
1000001,NaN,17.00,35840.9,NaN,NaN,20.264,NaN,NaN,NaN,NaN,NaN,NaN
1000002,NaN,37.50,109781.4,NaN,NaN,44.700,NaN,NaN,NaN,NaN,NaN,NaN
1000003,NaN,26.50,77140.5,NaN,NaN,32.184,NaN,NaN,NaN,NaN,NaN,NaN
1000004,NaN,17.25,52456.8,NaN,NaN,20.562,NaN,NaN,NaN,NaN,NaN,NaN
1000005,NaN,28.50,75907.0,NaN,NaN,33.972,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1012094,NaN,13.00,27343.8,NaN,NaN,15.496,NaN,NaN,NaN,NaN,NaN,NaN
1012095,NaN,12.75,26963.9,NaN,NaN,15.198,NaN,NaN,NaN,NaN,NaN,NaN
1012110,NaN,17.25,36755.0,NaN,NaN,20.562,NaN,NaN,NaN,NaN,NaN,NaN
1012678,NaN,1.25,27099.0,NaN,NaN,15.198,NaN,NaN,NaN,NaN,NaN,NaN
1012864,NaN,12.25,25745.0,NaN,NaN,14.602,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
combined_gdf.columns

Index(['Address Line 1', 'City', 'CO2 Emission', 'County', 'Facility ID',
       'Gas Code', 'Gas Name', 'Latitude', 'Longitude', 'State Name', 'Year',
       'Zip Code', 'Facility Name', 'geometry', 'distance_to_coast',
       'is_major_city', 'distance_to_nearest_major_city'],
      dtype='object')

In [119]:
pivot_df2 = combined_gdf.pivot_table(
    index=['Address Line 1', 'City','County','State Name', 'is_major_city', 'distance_to_nearest_major_city', 'distance_to_coast', 'Facility ID'], # Rows (index) will include these three columns
    columns='Gas Code',  # Columns will be the unique values from 'Gas Code'
    values='CO2 Emission',  # Values in the cells will be 'CO2 Emission'
    aggfunc='sum'        # Aggregate function to combine 'CO2 Emission', sum in this case
)

In [120]:
pivot_df2

,,,,,,,Gas Code,BIOCO2,CH4,CO2,HFC,HFE,N2O,NF3,OTHER,OTHER_FULL,PFC,SF6,VERY_SHORT
Address Line 1,City,County,State Name,is_major_city,distance_to_nearest_major_city,distance_to_coast,Facility ID,,,,,,,,,,,,
5411 NE Hwy 99,VANCOUVER,CLARK,WASHINGTON,no,13960.507058,68943.337049,1005611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38999.4,NaN
#1 CHESSEN LANE,ALTON,MADISON,ILLINOIS,no,27332.531409,928112.883957,1001527,NaN,9671.25,3347341.1,NaN,NaN,16768.162,NaN,NaN,NaN,NaN,NaN,NaN
#1 Estate Annaberg and Shannon Grove,KINGSHILL,ST.,VIRGIN ISLANDS,no,159053.514600,1268.965385,1010700,NaN,3332.50,28479.7,NaN,NaN,68.838,NaN,NaN,NaN,NaN,NaN,NaN
#1 Georgia-Pacific Drive,FORDYCE,DALLAS,ARKANSAS,no,265526.749825,426803.295122,1010844,109490.0,944.50,22961.0,NaN,NaN,1473.908,NaN,NaN,NaN,NaN,NaN,NaN
#1 INDUSTRIAL HWY,EDDYSTONE,DELAWARE,PENNSYLVANIA,no,23192.910330,398.779076,1000898,NaN,1194.75,558822.3,NaN,NaN,2056.796,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WEST ROUNDBUNCH ROAD,BRIDGE CITY,ORANGE,TEXAS,no,148413.219858,4638.548900,1006721,NaN,1364.75,2941761.5,NaN,NaN,1626.782,NaN,NaN,NaN,NaN,NaN,NaN
WOOD AVE SOUTH,LINDEN,UNION,NEW JERSEY,no,22033.182560,125.329566,1007330,NaN,982.50,2113200.3,NaN,NaN,1177.696,NaN,NaN,NaN,NaN,NaN,NaN
WV STATE ROUTE 2,CAPTINA,MARSHALL,WEST VIRGINIA,no,98450.858157,333577.109298,1000976,NaN,23991.25,8303396.8,NaN,NaN,41599.310,NaN,NaN,NaN,NaN,NaN,NaN
WVA STATE ROUTE 2,CAPTINA,MARSHALL,WEST VIRGINIA,no,97377.103785,334568.635990,1000975,NaN,4509.50,1560326.0,NaN,NaN,7818.924,NaN,NaN,NaN,NaN,NaN,NaN
YU JONES RD,THOMPSONS,FORT,TEXAS,no,41679.552614,54166.211475,1006868,NaN,49394.65,17596091.2,NaN,NaN,85480.406,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
model_df = pivot_df2.reset_index()
model_df = model_df.fillna(0)

In [122]:
model_df.head()

Gas Code,Address Line 1,City,County,State Name,is_major_city,distance_to_nearest_major_city,distance_to_coast,Facility ID,BIOCO2,CH4,CO2,HFC,HFE,N2O,NF3,OTHER,OTHER_FULL,PFC,SF6,VERY_SHORT
0,5411 NE Hwy 99,VANCOUVER,CLARK,WASHINGTON,no,13960.507058,68943.337049,1005611,0.0,0.00,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,38999.4,0.0
1,#1 CHESSEN LANE,ALTON,MADISON,ILLINOIS,no,27332.531409,928112.883957,1001527,0.0,9671.25,3347341.1,0.0,0.0,16768.162,0.0,0.0,0.0,0.0,0.0,0.0
2,#1 Estate Annaberg and Shannon Grove,KINGSHILL,ST.,VIRGIN ISLANDS,no,159053.514600,1268.965385,1010700,0.0,3332.50,28479.7,0.0,0.0,68.838,0.0,0.0,0.0,0.0,0.0,0.0
3,#1 Georgia-Pacific Drive,FORDYCE,DALLAS,ARKANSAS,no,265526.749825,426803.295122,1010844,109490.0,944.50,22961.0,0.0,0.0,1473.908,0.0,0.0,0.0,0.0,0.0,0.0
4,#1 INDUSTRIAL HWY,EDDYSTONE,DELAWARE,PENNSYLVANIA,no,23192.910330,398.779076,1000898,0.0,1194.75,558822.3,0.0,0.0,2056.796,0.0,0.0,0.0,0.0,0.0,0.0

In [123]:
model_df.to_csv('modeling1.csv', index = False)

In [124]:
df= pd.read_csv('modeling1.csv')

In [125]:
df.head()

,Address Line 1,City,County,State Name,is_major_city,distance_to_nearest_major_city,distance_to_coast,Facility ID,BIOCO2,CH4,CO2,HFC,HFE,N2O,NF3,OTHER,OTHER_FULL,PFC,SF6,VERY_SHORT
0,5411 NE Hwy 99,VANCOUVER,CLARK,WASHINGTON,no,13960.507058,68943.337049,1005611,0.0,0.00,0.0,0.0,0.0,0.000,0.0,0.0,0.0,0.0,38999.4,0.0
1,#1 CHESSEN LANE,ALTON,MADISON,ILLINOIS,no,27332.531409,928112.883957,1001527,0.0,9671.25,3347341.1,0.0,0.0,16768.162,0.0,0.0,0.0,0.0,0.0,0.0
2,#1 Estate Annaberg and Shannon Grove,KINGSHILL,ST.,VIRGIN ISLANDS,no,159053.514600,1268.965385,1010700,0.0,3332.50,28479.7,0.0,0.0,68.838,0.0,0.0,0.0,0.0,0.0,0.0
3,#1 Georgia-Pacific Drive,FORDYCE,DALLAS,ARKANSAS,no,265526.749825,426803.295122,1010844,109490.0,944.50,22961.0,0.0,0.0,1473.908,0.0,0.0,0.0,0.0,0.0,0.0
4,#1 INDUSTRIAL HWY,EDDYSTONE,DELAWARE,PENNSYLVANIA,no,23192.910330,398.779076,1000898,0.0,1194.75,558822.3,0.0,0.0,2056.796,0.0,0.0,0.0,0.0,0.0,0.0